@model List<FlipCardGame.DAL.Posts>
@{
    ViewBag.Title = "User profile panel";
    Layout = "~/Views/Shared/_LayoutUserProfile.cshtml";
}

@section JS {
    <script>
    $(function () {

        function Arrow_Points() {
            var s = $('#container').find('.item');
            $.each(s, function (i, obj) {
                var posLeft = $(obj).css("left");
                $(obj).addClass('borderclass');
                if (posLeft == "0px") {
                    html = "<span class='rightCorner'></span>";
                    $(obj).prepend(html);
                }
                else {
                    html = "<span class='leftCorner'></span>";
                    $(obj).prepend(html);
                }
            });
        }
        // Divs
        $('#container').masonry({ itemSelector: '.item', });
        Arrow_Points();
    });
    </script>
}
<div id="container">
@foreach (var item in Model.OrderByDescending(w => w.PublishDateTime))
{
    Html.RenderPartial("PostItemPartialView", item);
}
</div>
